@model PersonModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data" class=" form-horizontal form-bordered" id="myform" >
       
       
               
      
        @* <input type="text" asp-for="FirstName" placeholder="FirstName" class="form-control"> *@
        @* <input type="text" asp-for="LastName" placeholder="LastName" class="form-control"> *@
      
        <button type="submit" id="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Upload</button>
    </form>
    
    <button class="btn btn-secondary add-btn">Add</button>
     
</div>

@section Scripts
{
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

    <script>
           // function myParamName() {
           //     return "file";
           //  }
           //  Dropzone.options.dropzoneForm = {
           //      autoProcessQueue: false,
           //      paramName: myParamName, // The name that will be used to transfer the file
           //      uploadMultiple: true,
           //      parallelUploads: 100,
           //      init: function () {
           //          console.log("active");
           //          let wrapperThis = this;
           //
           //          $("#submit").click(function (e) {
           //              e.preventDefault();
           //              wrapperThis.processQueue();
           //              $.form().submit()
           //          });
           //      },
           //      accept: function (file, done) {
           //          done();
           //      }
           //  };
           
           
           Dropzone.autoDiscover = false;
           let indexss = 0;
           
           $(document).ready(() => {
              const dropzones = []
              
              
             
              
              $(".add-btn").on("click",function (){
                  let templ = `<div id="dropzone${indexss}" class="dropzone"></div>`;
                  $("form").append(templ)
                   console.log(templ)
                  let myDropzone = new Dropzone(`#dropzone${indexss}`, {
                                    url: window.location.pathname,
                                    autoProcessQueue: false,
                                    uploadMultiple: true,
                                    parallelUploads: 100,
                                    maxFiles: 100,
                                    paramName:`PersonDataModels[${indexss}].Files`
                                    
                                })
                                 dropzones.push(myDropzone)
                                 indexss++;
                  console.log(indexss + "INDEX")
              });
              
             
              
             
          
           
           
             document.querySelector("button[type=submit]").addEventListener("click", function(e) {
               e.preventDefault();
               e.stopPropagation();
               let form = new FormData($('form')[0])
           
               dropzones.forEach((dropzone,dropzoneIndex) => {
                 dropzone.files.forEach((file, i) => {
                   form.append("PersonDataModels["+dropzoneIndex+"].Files" , file)
                 })
               })
               
               console.log("sub")
               $.ajax({
                   method: 'POST',
                   data: form,
                   processData: false,
                   contentType: false,
                   success: function(response) {
                       window.location.replace(response)
                   }
               });
             });
              })
 
           
           
           
           
    
    </script>

}
